@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font: 500 30px/1 "Montserrat";
  color: #666;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font: 500 14px/1.2 "Montserrat";
  color: #757575;
}

p {
  font: 12px/1.2 "Montserrat";
  color: #aaa;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
table label {
  font: 600 16px/1 "Montserrat";
  color: #666;
}
table input {
  height: 40px;
  border: none;
  box-shadow: 2px 2px 12px #eee;
  padding: 0 20px;
  box-sizing: border-box;
}
table textarea {
  padding: 20px;
  box-sizing: border-box;
  border: none;
  box-shadow: 2px 5px 15px #eee;
  resize: none;
}

.h {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

::placeholder {
  color: #aaa;
  font: 300 12px/1 "Roboto";
}

.btn {
  display: block;
  width: 170px;
  height: 45px;
  background-color: #ee7d31;
  text-align: center;
  font: 500 12px/45px "Roboto";
  color: #fff;
  box-shadow: 5px 5px 10px rgba(75, 75, 75, 0.3);
  box-sizing: border-box;
  transition: 0.5s;
}
.btn i {
  color: #fff;
  font-size: 12.5px;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgba(211, 119, 58, 0.3);
  border: 1px solid #ee7d31;
  color: #ee7d31;
}
.btn:hover i {
  color: #ee7d31;
}

#header_sub {
  width: 100%;
}
#header_sub .inner {
  width: 100%;
  height: 120px;
  background: #ee7d31;
  position: relative;
}
#header_sub .inner h1 {
  float: left;
  width: 12%;
  height: 100%;
  background: #fff;
}
#header_sub .inner h1 a {
  display: block;
  text-align: center;
}
#header_sub .inner h1 a i {
  color: #ee7d31;
  font-size: 80px;
  line-height: 120px;
}
#header_sub .inner .menuWeb {
  float: left;
  width: 88%;
  height: 100%;
}
#header_sub .inner .menuWeb #gnb {
  line-height: 120px;
}
#header_sub .inner .menuWeb #gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  color: #fff;
  font: 14px/1 "Roboto";
  padding: 0 45px;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li a:hover::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
  z-index: 10;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  text-indent: -9999px;
  transition: all 0.5s;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
  background: #ee7d31;
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
  background: #ee7d31;
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .menuMo {
  box-sizing: border-box;
  width: 300px;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  right: -300px;
  padding: 100px 30px;
  z-index: 5;
  transition: 0.5s;
  box-shadow: -5px -5px 10px rgba(216, 216, 216, 0.3);
}
#header_sub .inner .menuMo.on {
  right: 0;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ee7d31;
  font: bold 14px/1 "Roboto";
  color: lightsalmon;
  text-align: center;
}
#header_sub .inner .menuMo .snsMo {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#header_sub .inner .menuMo .snsMo i {
  color: #ee7d31;
  font-size: 20px;
  padding: 0 15px;
}

.content .sub_visual {
  width: 100%;
  height: 350px;
  background: url(../img/pexels-gdtography-911738.jpg) no-repeat center/cover;
  padding: 200px 300px 0;
  box-sizing: border-box;
}
.content .sub_visual h1 {
  font-weight: 400;
  font-size: 50px;
  position: relative;
  z-index: 0;
  text-align: left;
  color: #333;
}
.content .sub_visual h1::after {
  content: "";
  display: block;
  width: 320px;
  height: 10px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  bottom: 2px;
  z-index: -1;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 150px 0;
}
.content .inner .tit {
  margin-bottom: 150px;
}
.content .inner .tit p {
  margin: 0 auto;
  width: 80%;
}
.content .inner .sub_tit {
  margin-bottom: 50px;
}
.content .inner .sub_tit h1 {
  margin-bottom: 10px;
}

footer {
  width: 100%;
  margin-bottom: 30px;
}
footer p {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header_sub .inner h1 {
    width: 100%;
    background-color: #ee7d31;
    float: none;
  }
  #header_sub .inner h1 a i {
    font-size: 70px;
    line-height: 100px;
    color: #fff;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }

  .content .inner {
    width: 100%;
    padding: 100px 30px;
    box-sizing: border-box;
  }
  .content .inner .tit {
    margin-bottom: 50px;
  }
  .content .inner .tit h1 {
    font-size: 22px;
  }
  .content .inner .tit p {
    width: 100%;
    font-size: 12px;
  }
  .content .inner .sub_tit h1 {
    font-size: 22px;
  }
  .content .inner .sub_tit p {
    font-size: 12px;
  }
}
@media screen and (max-width: 539px) {
  .content .sub_visual {
    display: none;
  }
}
.service .sub_visual h1::after {
  width: 360px;
}
.service .inner {
  width: 1180px;
  padding: 150px 0;
  margin: 0 auto;
}
.service .inner .wrap {
  width: 100%;
  position: relative;
}
.service .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.service .inner .wrap:nth-of-type(2) {
  margin-bottom: 150px;
}
.service .inner .wrap:nth-of-type(2) article {
  float: left;
}
.service .inner .wrap:nth-of-type(2) article::after {
  right: -150px;
}
.service .inner .wrap:nth-of-type(2) .img {
  background: url(../img/pexels-essow-936722.jpg) no-repeat center/cover;
  right: 0;
}
.service .inner .wrap:nth-of-type(3) article {
  float: right;
}
.service .inner .wrap:nth-of-type(3) article::after {
  left: -150px;
}
.service .inner .wrap:nth-of-type(3) .img {
  background: url(../img/pexels-stephen-niemeier-176837.jpg) no-repeat center/cover;
}
.service .inner .wrap article {
  width: 70%;
  padding: 80px;
  box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
  position: relative;
}
.service .inner .wrap article::after {
  content: "";
  display: block;
  width: 150px;
  height: 100%;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  top: 0;
}
.service .inner .wrap article h2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}
.service .inner .wrap article p {
  text-align: left;
  margin-bottom: 30px;
}
.service .inner .wrap .img {
  display: block;
  width: 30%;
  height: 350px;
  filter: grayscale(1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header_sub .inner h1 {
    width: 100%;
    background-color: #ee7d31;
    float: none;
  }
  #header_sub .inner h1 a i {
    font-size: 70px;
    line-height: 100px;
    color: #fff;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }

  .service .sub_visual {
    height: 250px;
    padding: 150px 50px 0;
  }
  .service .sub_visual h1 {
    font-size: 30px;
  }
  .service .sub_visual h1::after {
    width: 190px;
    top: 25px;
  }
  .service .inner {
    width: 100%;
    padding: 100px 20px;
    box-sizing: border-box;
  }
  .service .inner h1 {
    font-size: 24px;
    margin-bottom: 100px;
  }
  .service .inner .wrap article::after {
    width: 100px;
    height: 100%;
    right: -100px;
  }
  .service .inner .wrap article h1 {
    font-size: 24px;
  }
  .service .inner .wrap article a {
    width: 200px;
  }
  .service .inner .wrap .img {
    height: 380px;
    top: 8%;
  }
  .service .inner .wrap:nth-of-type(2) article::after {
    left: -100px;
  }
  .service .inner .wrap:nth-of-type(2) .img {
    top: 15%;
  }
}
@media screen and (max-width: 539px) {
  .service .sub_visual {
    height: 250px;
    padding: 0;
  }
  .service .sub_visual h1 {
    text-align: center;
    line-height: 250px;
  }
  .service .sub_visual h1::after {
    width: 190px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
  .service .inner {
    padding: 100px 30px;
  }
  .service .inner .wrap article {
    width: 100%;
    padding: 30px;
    text-align: center;
    border: 1px solid #f2f2f2;
  }
  .service .inner .wrap article::after {
    width: 120px;
    height: 70px;
    top: -35px;
    right: -15px;
  }
  .service .inner .wrap article a {
    width: 200px;
    margin: 0 auto;
  }
  .service .inner .wrap .img {
    display: none;
  }
  .service .inner .wrap:nth-of-type(2) article::after {
    left: -20px;
  }
}
.about .sub_visual h1::after {
  width: 275px;
}
.about .inner .wrap:nth-of-type(2) {
  width: 100%;
  margin-bottom: 150px;
}
.about .inner .wrap:nth-of-type(2)::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .wrap:nth-of-type(2) .pic {
  float: left;
  width: 15%;
  height: 400px;
}
.about .inner .wrap:nth-of-type(2) .pic:nth-of-type(1) {
  background: url(../img/pexels-negative-space-34088.jpg) no-repeat center/cover;
}
.about .inner .wrap:nth-of-type(2) .pic:nth-of-type(3) {
  background: url(../img/pexels-pavel-danilyuk-8038337.jpg) no-repeat center/cover;
}
.about .inner .wrap:nth-of-type(2) .pic::after {
  content: "";
  display: block;
  width: 40px;
  height: 100%;
  background: rgba(238, 125, 49, 0.5);
  float: right;
}
.about .inner .wrap:nth-of-type(2) .txt {
  float: left;
  width: 35%;
  height: 400px;
  padding: 40px 30px;
  box-sizing: border-box;
  box-shadow: 2px 5px 15px #eee;
}
.about .inner .wrap:nth-of-type(2) .txt h2 {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
}
.about .inner .wrap:nth-of-type(2) .txt p {
  text-align: left;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 20px;
}
.about .inner .wrap:nth-of-type(2) .txt p:last-child {
  margin-bottom: 0;
}
.about .inner .wrap:nth-of-type(3) {
  width: 100%;
  margin-bottom: 150px;
}
.about .inner .wrap:nth-of-type(3)::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .wrap:nth-of-type(3) article {
  float: left;
  width: 280px;
  margin-right: 20px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 5px 5px 15px #eee;
}
.about .inner .wrap:nth-of-type(3) article:last-child {
  margin-right: 0;
}
.about .inner .wrap:nth-of-type(3) article i {
  font-size: 40px;
  color: #ee7d31;
  margin-bottom: 25px;
}
.about .inner .wrap:nth-of-type(4) {
  margin-bottom: 150px;
}
.about .inner .wrap:nth-of-type(4)::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .wrap:nth-of-type(4) article {
  float: left;
  width: 380px;
  margin-right: 20px;
  padding: 80px 40px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 5px 5px 15px #eee;
}
.about .inner .wrap:nth-of-type(4) article:last-child {
  margin-right: 0;
}
.about .inner .wrap:nth-of-type(4) article i {
  font-size: 40px;
  color: #ee7d31;
  margin-bottom: 25px;
}
.about .inner .wrap:nth-of-type(5) {
  margin-bottom: 150px;
}
.about .inner .wrap:nth-of-type(5)::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .wrap:nth-of-type(5) article {
  float: left;
  width: 360px;
  margin-right: 50px;
}
.about .inner .wrap:nth-of-type(5) article:last-child {
  margin-right: 0;
}
.about .inner .wrap:nth-of-type(5) article .box {
  margin-bottom: 20px;
}
.about .inner .wrap:nth-of-type(5) article .box::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .wrap:nth-of-type(5) article .box img {
  float: left;
  width: 85%;
  height: 330px;
  object-fit: cover;
}
.about .inner .wrap:nth-of-type(5) article .box .snsMo {
  float: left;
  width: 15%;
  height: 330px;
  padding: 30px 0;
  box-sizing: border-box;
  background: rgba(238, 125, 49, 0.8);
}
.about .inner .wrap:nth-of-type(5) article .box .snsMo a {
  display: block;
  text-align: center;
  color: #fff;
  padding: 22px 0;
  font-size: 20px;
}
.about .inner .wrap:nth-of-type(5) article h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.about .inner .wrap:nth-of-type(5) article p {
  text-align: left;
}
.about .inner .wrap:nth-of-type(6) a {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 70px;
  background: #ee7d31;
  color: #fff;
  text-align: center;
  font: 500 14px/70px "Roboto";
  box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
  transition: all 0.5s;
  border: 1px solid transparent;
}
.about .inner .wrap:nth-of-type(6) a:hover {
  background-color: rgba(238, 125, 49, 0.4);
  border: 1px solid #ee7d31;
  color: #ee7d31;
}

@media screen and (max-width: 1179px) {
  .about .sub_visual {
    height: 250px;
    padding: 150px 50px 0;
  }
  .about .sub_visual h1 {
    font-size: 30px;
  }
  .about .sub_visual h1::after {
    width: 165px;
  }
  .about .inner div:nth-of-type(2) {
    width: 100%;
    margin-bottom: 150px;
  }
  .about .inner div:nth-of-type(2) .pic:nth-of-type(1) {
    width: 100%;
    height: 200px;
  }
  .about .inner div:nth-of-type(2) .pic:nth-of-type(3) {
    width: 100%;
    height: 200px;
    margin-bottom: 0;
  }
  .about .inner div:nth-of-type(2) .pic::after {
    height: 300px;
  }
  .about .inner div:nth-of-type(2) .txt {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    padding: 50px;
  }
  .about .inner div:nth-of-type(2) .txt:last-child {
    margin-bottom: 0;
  }
  .about .inner div:nth-of-type(3) {
    margin-bottom: 150px;
  }
  .about .inner div:nth-of-type(3) article {
    width: 47%;
    margin-bottom: 30px;
    margin-right: 5%;
  }
  .about .inner div:nth-of-type(3) article:nth-of-type(2n) {
    margin-right: 0;
  }
  .about .inner div:nth-of-type(3) article:nth-of-type(3), .about .inner div:nth-of-type(3) article:nth-of-type(4) {
    margin-bottom: 0;
  }
  .about .inner div:nth-of-type(4) {
    margin-bottom: 150px;
  }
  .about .inner div:nth-of-type(4) article {
    float: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 45px;
  }
  .about .inner div:nth-of-type(4) article:last-child {
    margin: 0 auto;
  }
  .about .inner div:nth-of-type(5) {
    margin-bottom: 150px;
  }
  .about .inner div:nth-of-type(5) article {
    float: none;
    width: 360px;
    margin: 30px auto;
  }
  .about .inner div:nth-of-type(5) article:last-child {
    margin: 0 auto;
  }
  .about .inner div:nth-of-type(5) article .box {
    margin-bottom: 10px;
  }
  .about .inner div:nth-of-type(5) article .box .snsMo a {
    display: block;
    text-align: center;
    color: #fff;
    padding: 22px 0;
    font-size: 20px;
  }
  .about .inner div:nth-of-type(5) article h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .about .inner div:nth-of-type(6) a {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 70px;
    background: #ee7d31;
    color: #fff;
    text-align: center;
    font: normal 14px/70px "Roboto";
    box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
    transition: all 0.5s;
    border: 1px solid transparent;
  }
  .about .inner div:nth-of-type(6) a:hover {
    background-color: rgba(238, 125, 49, 0.4);
    border: 1px solid #ee7d31;
    color: #ee7d31;
  }
}
@media screen and (max-width: 539px) {
  .about .inner {
    padding: 100px 30px;
  }
  .about .inner div:nth-of-type(2) {
    margin-bottom: 80px;
  }
  .about .inner div:nth-of-type(2) .pic::after {
    height: 200px;
  }
  .about .inner div:nth-of-type(2) .txt {
    padding: 25px;
  }
  .about .inner div:nth-of-type(3) {
    margin-bottom: 80px;
  }
  .about .inner div:nth-of-type(3) article {
    float: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .about .inner div:nth-of-type(3) article:nth-of-type(2n) {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .about .inner div:nth-of-type(3) article:nth-of-type(3) {
    margin-bottom: 30px;
  }
  .about .inner div:nth-of-type(3) article:nth-of-type(4) {
    margin: 0 auto;
  }
  .about .inner div:nth-of-type(4) {
    margin-bottom: 80px;
  }
  .about .inner div:nth-of-type(4) article {
    width: 80%;
    padding: 40px;
  }
  .about .inner div:nth-of-type(5) {
    margin-bottom: 80px;
  }
  .about .inner div:nth-of-type(5) article {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }
  .about .inner div:nth-of-type(5) article .box img {
    height: 280px;
  }
  .about .inner div:nth-of-type(5) article .box .snsMo {
    height: 280px;
  }
  .about .inner div:nth-of-type(5) article .box .snsMo a {
    padding: 16px 0;
  }
  .about .inner div:nth-of-type(5) article h2 {
    position: absolute;
    left: 15px;
    bottom: 25px;
    color: #fff;
    font-size: 14px;
  }
  .about .inner div:nth-of-type(5) article p {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #fff;
    font-size: 10px;
  }
  .about .inner div:nth-of-type(6) > p {
    width: 100%;
  }
}
.contact .sub_visual h1::after {
  width: 250px;
}
.contact .inner .con::after {
  content: "";
  display: block;
  clear: both;
}
.contact .inner .con #map {
  float: left;
  width: 50%;
  height: 600px;
}
.contact .inner .con form {
  width: 50%;
  height: 600px;
  float: right;
}
.contact .inner .con form fieldset {
  border: none;
  width: 100%;
  height: 100%;
}
.contact .inner .con form fieldset fieldset::after {
  content: "";
  display: block;
  clear: both;
}
.contact .inner .con form fieldset table {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.contact .inner .con form fieldset table tr td h2 {
  margin-bottom: 15px;
}
.contact .inner .con form fieldset table tr td a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ee7d31;
  margin-right: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.contact .inner .con form fieldset table tr td a i {
  color: #fff;
  line-height: 30px;
  font-size: 15px;
}
.contact .inner .con form fieldset table tr:nth-of-type(2) {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.contact .inner .con form fieldset table tr:nth-of-type(2) td {
  display: block;
}
.contact .inner .con form fieldset table tr:nth-of-type(2) td input {
  width: 100%;
  margin-bottom: 20px;
}
.contact .inner .con form fieldset table tr:nth-of-type(2) td input:last-child {
  margin-bottom: 0;
}
.contact .inner .con form fieldset table tr:nth-of-type(3) textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}
.contact .inner .con form fieldset table tr:nth-of-type(4) th {
  float: left;
  width: 100%;
}
.contact .inner .con form fieldset table tr:nth-of-type(4) th input {
  width: 100%;
  height: 60px;
  background: #ee7d31;
  color: #fff;
  border: none;
}
.contact .inner .con form fieldset table tr:nth-of-type(4) th input:hover {
  background-color: rgba(238, 125, 49, 0.4);
  border: 1px solid #ee7d31;
  color: #ee7d31;
}
.contact .inner .quick {
  width: 100%;
  padding: 100px 50px;
  background: #f9f9f9;
  position: relative;
  box-sizing: border-box;
}
.contact .inner .quick ::after {
  content: "";
  display: block;
  clear: both;
}
.contact .inner .quick > p {
  font: bold 180px/1 "Montserrat";
  letter-spacing: 3px;
  color: #fff;
  position: absolute;
  top: 30px;
  right: 50px;
  opacity: 0.4;
}
.contact .inner .quick .sub_tit {
  width: 100%;
}
.contact .inner .quick .sub_tit h1 {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
}
.contact .inner .quick .sub_tit p {
  text-align: left;
  letter-spacing: 2px;
  color: #555;
}
.contact .inner .quick .box {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
.contact .inner .quick .box article {
  float: left;
  width: 33.33%;
  padding: 30px;
  box-sizing: border-box;
}
.contact .inner .quick .box article i {
  color: #666;
  font-size: 30px;
  margin-bottom: 20px;
}
.contact .inner .quick .box article h2 {
  color: #666;
  font: 600 14px/1 "Montserrat";
  margin-bottom: 50px;
}
.contact .inner .quick .box article p {
  text-align: left;
  line-height: 2;
}
.contact .inner .subscribe {
  width: 100%;
  padding: 100px 50px;
  box-sizing: border-box;
}
.contact .inner .subscribe::after {
  content: "";
  display: block;
  clear: both;
}
.contact .inner .subscribe .sub_tit {
  float: left;
  width: 30%;
}
.contact .inner .subscribe .sub_tit h1 {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
}
.contact .inner .subscribe .sub_tit p {
  text-align: left;
  letter-spacing: 2px;
  color: #555;
}
.contact .inner .subscribe fieldset {
  border: none;
  width: 70%;
  float: left;
}
.contact .inner .subscribe fieldset::after {
  content: "";
  display: block;
  clear: both;
}
.contact .inner .subscribe fieldset table {
  width: 100%;
}
.contact .inner .subscribe fieldset table tr {
  width: 100%;
}
.contact .inner .subscribe fieldset table tr td {
  width: 50%;
}
.contact .inner .subscribe fieldset table tr td h2 {
  margin-bottom: 15px;
}
.contact .inner .subscribe fieldset table tr td h2 label {
  color: #666;
  font: 600 14px/1 "Montserrat";
}
.contact .inner .subscribe fieldset table tr td input {
  width: 90%;
}
.contact .inner .subscribe fieldset table tr:last-child th {
  float: left;
  width: 100%;
}
.contact .inner .subscribe fieldset table tr:last-child th input {
  width: 80%;
  height: 60px;
  background: #ee7d31;
  color: #fff;
  border: none;
  margin-top: 50px;
}
.contact .inner .subscribe fieldset table tr:last-child th input:hover {
  background-color: rgba(238, 125, 49, 0.4);
  border: 1px solid #ee7d31;
  color: #ee7d31;
}

.portfolio .sub_visual h1::after {
  width: 310px;
}
.portfolio .inner_sub {
  width: 1180px;
  margin: 0 auto;
  padding: 150px 20px;
}
.portfolio .inner_sub ul {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.portfolio .inner_sub ul::after {
  content: "";
  display: block;
  clear: both;
}
.portfolio .inner_sub ul li {
  width: 25%;
  float: left;
  text-align: center;
}
.portfolio .inner_sub ul li a {
  font: 12px/1 "Roboto";
  color: #444;
}
.portfolio .inner_sub ul li.on::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background: #ee7d31;
  margin-top: 10px;
}
.portfolio .inner_sub .wrap {
  width: 100%;
  margin-bottom: 50px;
}
.portfolio .inner_sub .wrap article {
  box-sizing: border-box;
  width: 380px;
  height: 380px;
  padding: 10px;
  float: left;
  position: relative;
}
.portfolio .inner_sub .wrap article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
.portfolio .inner_sub .wrap article .more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  display: flex;
  flex-flow: column;
  opacity: 0;
}
.portfolio .inner_sub .wrap article .more i {
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  color: #ee7d31;
  line-height: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}
.portfolio .inner_sub .wrap article .more i:last-child {
  margin-bottom: 0;
}
.portfolio .inner_sub .wrap article:hover {
  transition: 0.5s;
}
.portfolio .inner_sub .wrap article:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  width: 180px;
  height: 360px;
  background: rgba(238, 125, 49, 0.5);
}
.portfolio .inner_sub .wrap article:hover .more {
  opacity: 1;
  z-index: 2;
}
.portfolio .inner_sub .btn {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 70px;
  background: #ee7d31;
  color: #fff;
  text-align: center;
  font: 500 14px/70px "Roboto";
  box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
  transition: all 0.5s;
  border: 1px solid transparent;
}
.portfolio .inner_sub .btn:hover {
  background-color: rgba(238, 125, 49, 0.4);
  border: 1px solid #ee7d31;
  color: #ee7d31;
}

* {
  box-sizing: border-box;
}

.pricing .sub_visual h1::after {
  width: 200px;
}
.pricing .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 150px 0;
  /*
  table{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      border-spacing: 10px 0;
      margin-bottom: 80px;

      caption{
          text-indent: -9999px;
          opacity: 0;
      }

      th{
          font: 700 20px/1 'Roboto';
          color: #444;
          padding: 15px;

          &:nth-of-type(1){ width: 15%; }
          &:nth-of-type(2){ width: 25%; }
          &:nth-of-type(3){ width: 25%; }
          &:nth-of-type(4){ width: 25%; }
      }

      tbody{
          tr{
              font: 300 16px/1 'Roboto';
              color: #777;

              &:nth-of-type(1){
                  font: bold 30px/1 'Roboto';
                  color: #ee7d31;
              }

              td{
                  padding: 25px;
                  border-right: 1px solid rgb(221, 221, 221);

                  &:nth-of-type(1){
                      font: bold 16px/1 '';

                      strong{
                          font: bold 30px/1 'Roboto';
                      }
                  }

                  &:nth-of-type(4){
                      border-right: 0;
                  }

                  strong{
                      font-weight: 500;
                      color: #ee7d31;
                  }
              }
          }
      }
  }

  a{
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 60px;
      background-color: #ee7d31;
      text-align: center;
      font: 500 14px/60px 'Roboto';
      color: #fff;
      box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
      transition: all 0.5s;
      border: 1px solid transparent;

      &:hover{
          background-color: rgba(238, 125, 49, 0.4);
          border: 1px solid #ee7d31;
          color: #ee7d31;
      }
  }
  */
}
.pricing .inner #searchBox {
  width: 100%;
  padding: 50px 10px;
  font-size: 0;
  text-align: right;
}
.pricing .inner #searchBox #search {
  width: 200px;
  height: 30px;
  border: 1px solid #000;
  padding-left: 10px;
  margin-right: 10px;
}
.pricing .inner #searchBox .btnSearch {
  width: 80px;
  height: 30px;
  background: #000;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
}
.pricing .inner .box {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.pricing .inner .box::after {
  content: "";
  display: block;
  clear: both;
}
.pricing .inner .box .item {
  width: 20%;
  float: left;
  padding: 10px;
}
.pricing .inner .box .item > div {
  width: 100%;
  background: #eee;
  padding: 10px;
}
.pricing .inner .box .item > div .pic {
  display: block;
  width: 100%;
}
.pricing .inner .box .item > div .pic img {
  width: 100%;
}
.pricing .inner .box .item > div p {
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pricing .inner .box .item > div .profile {
  display: flex;
  align-items: center;
}
.pricing .inner .box .item > div .profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 10px;
}
.pricing .inner .box .item > div .profile span {
  font: 12px/1 "roboto";
  color: #000;
}

footer {
  width: 100%;
  margin-bottom: 30px;
}
footer p {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

aside {
  width: 50%;
  height: 50vh;
  background: #fff;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
aside .con {
  width: 100%;
  height: 100%;
}
aside .con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
aside .close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #000;
}

/*
@media screen and (max-width:$tablet){
    #header_sub{
        .inner{
            width: 100%;
            height: 100px;

            h1{
                width: 100%;
                background-color: #ee7d31;
                float: none;

                a{
                    i{
                        font-size: 70px;
                        line-height: 100px;
                        color: #fff;
                    }
                }
            }

            .menuWeb{
                display: none;
            }

            .btnCall{
                display: block;
            }
        }
    }

    .pricing{
        .sub_visual{
            height: 250px;
            padding: 150px 50px 0;

            h1{
                font-size: 30px;

                &::after{
                    width: 125px;
                    top: 25px;
                }
            }
        }

        .inner{
            width: 100%;
            padding: 100px 20px;
            box-sizing: border-box;

            h1{
                font-size: 24px;
                margin-bottom: 100px;
            } 

            table{
                width: 100%;
                margin: 0 auto;
                text-align: center;
                border-spacing: 10px 0;
                margin-bottom: 80px;
                border: 1px solid;

                caption{
                    text-indent: -9999px;
                    opacity: 0;
                }

                th{
                    font: 700 20px/1 'Roboto';
                    color: #444;
                    padding: 15px;

                    &:nth-of-type(1){ width: 25%; }
                    &:nth-of-type(2){ width: 25%; }
                    &:nth-of-type(3){ width: 25%; }
                    &:nth-of-type(4){ width: 25%; }
                }

                tbody{
                    tr{
                        font: 300 16px/1 'Roboto';
                        color: #777;

                        &:nth-of-type(1){
                            font: bold 30px/1 'Roboto';
                            color: #ee7d31;
                        }

                        td{
                            padding: 25px;
                            border-right: 1px solid rgb(221, 221, 221);

                            &:nth-of-type(1){
                                font: bold 16px/1 '';

                                strong{
                                    font: bold 30px/1 'Roboto';
                                }
                            }

                            &:nth-of-type(4){
                                border-right: 0;
                            }

                            strong{
                                font-weight: 500;
                                color: #ee7d31;
                            }
                        }
                    }
                }
            }

            a{
                display: block;
                margin: 0 auto;
                width: 250px;
                height: 60px;
                background-color: #ee7d31;
                text-align: center;
                font: 500 14px/60px 'Roboto';
                color: #fff;
                box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
                transition: all 0.5s;

                &:hover{
                    background-color: rgba(238, 125, 49, 0.4);
                    border: 1px solid #ee7d31;
                    color: #ee7d31;
                }
            }
        }
    }
}

@media screen and (max-width:$mobile){
    .pricing{
        .sub_visual{
            height: 250px;
            padding: 0; 

            h1{
                font-size: 30px;
                text-align: center;
                line-height: 250px;

                &::after{
                    width: 130px;
                    position: absolute;
                    top: 130px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .inner{
            padding: 100px 30px;
        }
    }
}
*/
.community .sub_visual h1::after {
  width: 340px;
}
.community .inner .mv {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.community .inner .mv article {
  padding: 10px;
  box-sizing: border-box;
}
.community .inner .mv article .pic {
  width: 100%;
  height: 100%;
}
.community .inner .mv article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.community .inner .btns {
  text-align: center;
  margin-bottom: 80px;
}
.community .inner .btns .btn {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
}
.community .inner table {
  width: 100%;
  margin-bottom: 50px;
}
.community .inner table tr th {
  padding: 15px;
  color: #ee7d31;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font: bold 14px/1 "Roboto";
}
.community .inner table tr th:nth-of-type(1) {
  width: 8%;
}
.community .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.community .inner table tr td {
  padding: 20px 5px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font: 300 12px/1 "Roboto";
}
.community .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.community .inner table tr td a {
  color: #333;
  font-weight: 500;
}
.community .inner .pagenation {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.community .inner .pagenation::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagenation .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font: 20px/30px "Roboto";
  color: #ee7d31;
  text-align: center;
}
.community .inner .pagenation .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font: 20px/30px "Roboto";
  color: #ee7d31;
  text-align: center;
}
.community .inner .pagenation .numbers {
  display: inline-block;
  font-size: 0;
}
.community .inner .pagenation .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  font: bold 11px/30px "Roboto";
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.community .inner .pagenation .numbers a:hover {
  color: #ee7d31;
}
.community aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw;
  box-sizing: border-box;
}
.community aside .btnClose {
  position: absolute;
  top: 40px;
  right: 40px;
  color: orange;
  cursor: pointer;
}

@media screen and (max-width: 1179px) {
  .community .sub_visual {
    height: 250px;
    padding: 150px 50px 0;
  }
  .community .sub_visual h1 {
    font-size: 30px;
  }
  .community .sub_visual h1::after {
    width: 180px;
    top: 25px;
  }
  .community .inner {
    width: 100%;
    padding: 100px 20px;
    box-sizing: border-box;
  }
  .community .inner h1 {
    font-size: 24px;
    margin-bottom: 100px;
  }
  .community .inner .pagenation {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  table tr th:nth-of-type(1) {
    width: 8%;
  }
  table tr th:nth-of-type(3) {
    width: 15%;
  }
  table tr th:nth-of-type(4) {
    display: none;
  }
  table tr td:nth-of-type(4) {
    display: none;
  }
}
#header {
  width: 100%;
  height: 120px;
}
#header .inner {
  width: 100%;
  height: 100%;
  background: #ee7d31;
  position: relative;
}
#header .inner h1 {
  float: left;
  width: 12%;
  height: 100%;
  background: #fff;
  margin-bottom: 0;
}
#header .inner h1 a {
  display: block;
  text-align: center;
}
#header .inner h1 a i {
  color: #ee7d31;
  font-size: 80px;
  line-height: 120px;
}
#header .inner .menuWeb {
  float: left;
  width: 88%;
  height: 100%;
}
#header .inner .menuWeb #gnb {
  line-height: 120px;
}
#header .inner .menuWeb #gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  color: #fff;
  font: 14px/1 "Roboto";
  padding: 0 45px;
  position: relative;
}
#header .inner .menuWeb #gnb li a:hover::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
  z-index: 10;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  text-indent: -9999px;
  transition: all 0.5s;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
  background: #ee7d31;
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
  background: #ee7d31;
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  box-sizing: border-box;
  width: 300px;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  right: -300px;
  padding: 100px 30px;
  z-index: 5;
  transition: 0.5s;
  box-shadow: -5px -5px 10px rgba(216, 216, 216, 0.3);
}
#header .inner .menuMo.on {
  right: 0;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ee7d31;
  font: bold 14px/1 "Roboto";
  color: lightsalmon;
  text-align: center;
}
#header .inner .menuMo .snsMo {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#header .inner .menuMo .snsMo i {
  color: #ee7d31;
  font-size: 20px;
  padding: 0 15px;
}

#visual {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #ee7d31;
  position: relative;
  overflow: hidden;
}
#visual video {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
#visual .stay {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 50px;
  width: 500px;
  height: 350px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 80px 40px;
}
#visual .stay::after {
  content: "";
  display: block;
  width: 100px;
  height: 350px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  top: 0;
  left: -100px;
}
#visual .stay h1 {
  text-align: left;
  line-height: 1.4;
  margin-bottom: 20px;
  position: relative;
}
#visual .stay h1::before {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  top: 30px;
  z-index: -1;
}
#visual .stay h1::after {
  content: "";
  display: block;
  width: 250px;
  height: 5px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  bottom: 8px;
  z-index: -1;
}
#visual .stay p {
  text-align: left;
  line-height: 1.5;
}
#visual .stay .btn {
  position: absolute;
  left: 50%;
  bottom: -22.5px;
  transform: translateX(-50%);
}
#visual .color {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#visual .color .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid #fff;
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
#visual .color .circle:nth-of-type(1) {
  background: #ee7d31;
}
#visual .color .circle:nth-of-type(2) {
  background: lightblue;
}
#visual .color .circle:nth-of-type(3) {
  background: #00df70;
}
#visual .sns {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 30px;
  text-align: center;
}
#visual .sns i {
  color: #fff;
  font-size: 20px;
  padding: 0 15px;
}

#services {
  width: 100%;
  margin: 150px 0;
}
#services::after {
  content: "";
  display: block;
  clear: both;
}
#services .inner {
  width: 1180px;
  margin: 0 auto;
}
#services .inner h1 {
  text-align: left;
  margin-bottom: 15px;
  position: relative;
}
#services .inner h1::after {
  content: "";
  display: block;
  width: 240px;
  height: 5px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  bottom: 2px;
  z-index: -1;
}
#services .inner .wrap {
  width: 100%;
}
#services .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#services .inner .wrap article {
  width: 300px;
  float: left;
  margin-right: 130px;
  text-align: center;
}
#services .inner .wrap article:nth-of-type(1) {
  text-align: left;
}
#services .inner .wrap article:nth-of-type(1) p {
  text-align: left;
  margin-bottom: 20px;
}
#services .inner .wrap article:last-child {
  margin-right: 0;
}
#services .inner .wrap article > i {
  color: #ee7d31;
  font-size: 30px;
  margin-bottom: 20px;
}
#services .inner .wrap article h2 {
  font-weight: 500;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
#services .inner .wrap article p {
  font-weight: 300;
  font-size: 12px;
  color: #555;
  line-height: 1.5;
}

#about {
  width: 100%;
  position: relative;
}
#about .pic {
  width: 60%;
  height: 600px;
  background: url(../img/pexels-quenani-leal-721480.jpg) no-repeat top center/cover fixed;
  filter: grayscale(1);
}
#about .box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  padding: 80px 40px;
  background-color: #fff;
  left: 60%;
  box-shadow: 2px 5px 15px #eee;
  box-sizing: border-box;
}
#about .box::after {
  display: block;
  content: "";
  width: 100px;
  height: 100%;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  top: 0;
  left: -100px;
}
#about .box h1 {
  text-align: left;
  position: relative;
  margin-bottom: 20px;
}
#about .box h1::after {
  content: "";
  display: block;
  width: 170px;
  height: 5px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  bottom: 2px;
  z-index: -1;
}
#about .box h2 {
  font-size: 14px;
  margin-bottom: 30px;
}
#about .box p {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 30px;
}

#satisfied {
  width: 100%;
  margin: 150px auto;
}
#satisfied .inner {
  width: 1180px;
  margin: 0 auto;
}
#satisfied .inner::after {
  content: "";
  display: block;
  clear: both;
}
#satisfied .inner article {
  float: left;
  width: 380px;
  margin-right: 20px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
#satisfied .inner article:last-child {
  margin-right: 0;
}
#satisfied .inner article i {
  font-size: 40px;
  color: #ee7d31;
  margin-bottom: 25px;
}

#contact {
  width: 100%;
  margin-bottom: 150px;
}
#contact .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#contact .inner::after {
  content: "";
  display: block;
  clear: both;
}
#contact .inner article {
  float: left;
  width: 380px;
  height: 280px;
  margin-right: 20px;
}
#contact .inner article p {
  text-align: left;
  margin-bottom: 30px;
}
#contact .inner article:nth-of-type(1) {
  padding: 70px 0;
}
#contact .inner article:nth-of-type(1) p {
  line-height: 1.5;
}
#contact .inner article:nth-of-type(2) {
  padding: 70px 0;
}
#contact .inner article:nth-of-type(2) p {
  margin-bottom: 20px;
}
#contact .inner article:nth-of-type(2) a {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ee7d31;
  text-align: center;
  line-height: 25px;
  margin-right: 27px;
  float: left;
}
#contact .inner article:nth-of-type(2) a:last-child {
  margin-right: 0;
}
#contact .inner article:nth-of-type(2) a i {
  color: #fff;
}
#contact .inner article:nth-of-type(3) {
  margin-right: 0;
}
#contact .inner article:nth-of-type(3) h1 {
  text-align: left;
  position: relative;
  margin-bottom: 40px;
}
#contact .inner article:nth-of-type(3) h1::after {
  content: "";
  display: block;
  width: 205px;
  height: 5px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  bottom: 2px;
  z-index: -1;
}
#contact .inner article:nth-of-type(3) p {
  margin-bottom: 30px;
}

#portfolio {
  margin-bottom: 150px;
}
#portfolio .inner {
  width: 1180px;
  margin: 0 auto;
}
#portfolio .inner::after {
  content: "";
  display: block;
  clear: both;
}
#portfolio .inner .sub_tit {
  width: 25%;
  float: left;
  padding: 25px 0;
  box-sizing: border-box;
}
#portfolio .inner .sub_tit h1 {
  text-align: left;
  position: relative;
  margin-bottom: 15px;
}
#portfolio .inner .sub_tit h1::after {
  content: "";
  display: block;
  width: 190px;
  height: 5px;
  background-color: rgba(238, 125, 49, 0.5);
  position: absolute;
  bottom: 2px;
  z-index: -1;
}
#portfolio .inner .sub_tit p {
  text-align: left;
  margin-bottom: 30px;
}
#portfolio .inner .swiper {
  float: left;
  width: 75%;
  height: 100%;
}
#portfolio .inner .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#portfolio .inner .swiper .swiper-wrapper .swiper-slide {
  width: 230px;
  height: 200px;
}
#portfolio .inner .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
#portfolio .inner .swiper .swiper-wrapper .swiper-slide .more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  opacity: 0;
  transition: 0.5s;
}
#portfolio .inner .swiper .swiper-wrapper .swiper-slide .more i {
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  color: #ee7d31;
  line-height: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}
#portfolio .inner .swiper .swiper-wrapper .swiper-slide .more i:last-child {
  margin-bottom: 0;
}
#portfolio .inner .swiper .swiper-wrapper .swiper-slide:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(238, 125, 49, 0.5);
}
#portfolio .inner .swiper .swiper-wrapper .swiper-slide:hover .more {
  opacity: 1;
  z-index: 2;
}

#popup {
  width: 500px;
  height: 500px;
  background: #faf8f5;
  padding: 0;
  border: none;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popup::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ee7d31;
  position: absolute;
  bottom: 60px;
}
#popup .content {
  width: 100%;
}
#popup .content span {
  font: 600 14px/1 "Montserrat";
  color: #ee7d31;
  display: block;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 50px;
}
#popup .content h1 {
  font: 65px/1 "Acme";
  color: #ee7d31;
  padding: 120px 0;
}
#popup .content p {
  font: 500 14px/1 "Montserrat";
  color: #ee7d31;
  letter-spacing: 3px;
  padding: 15px 0;
}
#popup .wrap {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
#popup .wrap input[type=checkbox] {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #ee7d31;
  border-radius: 2px;
  background: #fbfbfb;
}
#popup .wrap input[type=checkbox]::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}
#popup .wrap input[type=checkbox]:checked {
  background-color: #ee7d31;
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}
#popup .wrap input[type=checkbox]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}
#popup .wrap label {
  font: 14px/1 "Montserrat";
  color: #fff;
}
#popup .close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ee7d31;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#popup .close i {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

footer {
  width: 100%;
  margin-bottom: 30px;
}
footer p {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100px;
  }
  #header .inner h1 {
    width: 100%;
    background-color: #ee7d31;
    float: none;
  }
  #header .inner h1 a i {
    font-size: 70px;
    line-height: 100px;
    color: #fff;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }

  #visual {
    height: calc(100vh - 101px);
    background: url(../img/mp4_img.jpg) no-repeat center/cover;
  }
  #visual video {
    display: none;
  }
  #visual .stay {
    width: 40%;
    transform: translate(-45%, -50%);
    left: 50%;
    padding: 60px 15px;
  }
  #visual .stay::after {
    width: 20%;
    left: -20%;
  }
  #visual .stay a {
    bottom: 50px;
  }
  #visual .sns {
    display: none;
  }

  #services .inner {
    width: 100%;
  }
  #services .inner h1 {
    text-align: center;
  }
  #services .inner h1::after {
    left: 50%;
    transform: translateX(-50%);
  }
  #services .inner .wrap {
    padding: 0 100px;
    box-sizing: border-box;
  }
  #services .inner .wrap article {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
    margin-bottom: 60px;
  }
  #services .inner .wrap article:nth-of-type(1) {
    text-align: center;
  }
  #services .inner .wrap article:nth-of-type(1) a {
    margin: 0 auto;
  }
  #services .inner .wrap article:nth-of-type(3) {
    margin-bottom: 0;
  }

  #about .pic {
    width: 100%;
  }
  #about .box {
    width: 40%;
    transform: translate(-45%, -50%);
    left: 50%;
    padding: 50px 15px;
  }
  #about .box::after {
    width: 20%;
    left: -20%;
  }
  #about .box p {
    margin-bottom: 25px;
  }
  #about .box a {
    margin: 0 auto;
  }

  #contact .inner {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
  }
  #contact .inner h1 {
    text-align: center;
  }
  #contact .inner h1::after {
    left: 50%;
    transform: translateX(-50%);
  }
  #contact .inner ul li {
    width: 30%;
    margin-right: 5%;
  }
  #contact .inner ul li:nth-of-type(1) a {
    display: inline-block;
    float: none;
    margin-right: 10px;
  }
  #contact .inner ul li:nth-of-type(3) a {
    margin: 0 auto;
    width: 120px;
    height: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 539px) {
  #visual .stay {
    width: 70%;
    transform: translate(-40%, -50%);
  }

  #services {
    padding: 80px 0;
  }
  #services .inner .wrap {
    padding: 0 50px;
  }

  #about .box {
    width: 70%;
    transform: translate(-40%, -50%);
    padding: 30px 15px;
  }

  #contact {
    padding: 80px 0;
  }
  #contact .inner ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  #contact .inner ul li:nth-of-type(1) p {
    margin-bottom: 20px;
  }
  #contact .inner ul li:nth-of-type(2) a {
    margin-bottom: 20px;
  }
  #contact .inner ul li:nth-of-type(2) a:last-child {
    margin-bottom: 0;
  }
  #contact .inner ul li:nth-of-type(3) {
    margin-bottom: 0;
  }
  #contact .inner ul li:nth-of-type(3) a {
    width: 170px;
    height: 45px;
    line-height: 45px;
  }
}

/*# sourceMappingURL=style.css.map */
