.community{
    .sub_visual{
        h1{
            &::after{
                width: 340px;
            }
        }
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 150px 0;

        &::after{
            content: '';
            display: block;
            clear: both;
        }

        .top{
            margin-bottom: 50px;

            &::after{
                content: '';
                display: block;
                clear: both;
            }

            .left{
                float: left;
                width: 70%;
                
                article{
                    margin-bottom: 80px;
                    box-shadow: 2px 5px 15px #eee;
                    
                    &:last-child{
                        margin-bottom: 0;
                    }
    
                    .img_box{
                        width: 100%;
                        height: 500px;
                        position: relative;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: grayscale(1);
                        }
    
                        .sns{
                            position: absolute;
                            width: 100%;
                            height: 50px;
                            padding: 0 50px;
                            background: rgba(238, 125, 49, 0.5);
                            bottom: 0;
    
                            a{
                                color: #fff;
                                margin-right: 20px;
    
                                i{
                                    font-size: 18px;
                                    line-height: 50px;
                                }
                            }
                        }
                    }
    
                    table{
                        width: 100%;
                        padding: 40px 30px;
                        
    
                        tr{
    
                            td{
                                font: 12px/1.8 'Montserrat';
                                color: #666;
                                padding: 10px 25px;
                                border: none;
                                text-align: left;
                            }
    
                            &:nth-of-type(1){
                                td{
                                    padding: 0;
                                    text-align: center;
                                    font: 11px/1.8 'Montserrat';
    
                                    strong{
                                        font: 600 24px/1 'Montserrat';
                                        letter-spacing: 2px;
                                    }
    
                                    &:last-child{
                                        font: 500 18px/1 'Montserrat';
                                        text-align: left;
                                        padding: 10px 25px;
                                    }
                                }
                            }
    
                            &:last-child{
                                td{
                                    font-size: 14px;
                                    font-weight: 500;
      
                                    &:nth-of-type(1){ width: 30%; }
                                    &:nth-of-type(2){ width: 30%; }
                                    &:nth-of-type(3){ width: 30%; }
    
                                    a{
                                        color: #666;
    
                                        &:hover{
                                            color: #ee7d31;
                                        }
                                    }
                                }
                            }
                            
                            
                        }
                    }
                }
            }
    
            .right{
                float: right;
                width: 30%;
                padding-left: 30px;
    
                #searchBox{
                    width: 100%;
                    font-size: 0;
                    position: relative;
                    margin-bottom: 30px;
        
                    #search{
                        width: 100%;
                        height: 40px;
                        border: none;
                        padding-left: 10px;
                        margin-right: 10px;
                        box-shadow: 2px 5px 15px #eee;
                    }
        
                    .btnSearch{
                        width: 40px;
                        height: 40px;
                        border: none;
                        background: none;
                        position: absolute;
                        text-align: center;
                        cursor: pointer;
                        top: 0;
                        right: 0;
    
                        i{
                            font-size: 20px;
                            line-height: 40px;
                            color: #ee7d31;
                        }
                    }
                }
    
                .sec{
                    width: 100%;
                    padding: 30px;
                    box-shadow: 2px 5px 15px #eee;
                    position: relative;
                    margin-bottom: 30px;
    
                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(238, 125, 49, 0.5);
                    }
    
                    h2{
                        font-weight: 600;
                        padding: 20px 0;
                    }
                }
    
                .cartegories{
                
                    ul{
                        padding: 0 30px;
    
                        li{
                            font: 400 10px/2 'Montserrat';
                            color: #ee7d31;
                            list-style-type: disc;
    
                            a{
                                color: #757575;
                            }
                        }
                    }
                }
    
                .post{
                    
                    .box{
                        width: 100%;
                        
                        a{
                            width: 100%;
                            height: 60px;
                            margin-bottom: 20px;
                            display: flex;
                            justify-content: flex-start;
                            position: relative;
    
                            &::after{
                                content: '';
                                display: block;
                                width: 5%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: -5%;
                                background: rgba(238, 125, 49, 0.5);
                            }
    
                            img{
                                width: 30%;
                                height: 100%;
                                object-fit: cover;
                                filter: grayscale(1);
                                margin-right: 15px;
                            }
    
                            .txt{
                                h3{
                                    font: 400 11px/2 'Montserrat';
                                }
    
                                span{
                                    font-size: 12px;
                                    color: #757575;
                                    margin-right: 20px;
    
                                    i{
                                        font-size: 12px;
                                        color: #ee7d31;
                                    }
                                }
                            }
                        }
                    }
                }
    
                .notice{
                    
                    ul{
                        padding: 0 30px;
    
                        li{
                            font: 400 10px/2 'Montserrat';
                            color: #ee7d31;
                            list-style-type: disc;
    
                            a{
                                color: #757575;
                            }
                        }
                    }
                }
    
                .insta{
                    padding: 40px 30px 70px 30px;
                    margin-bottom: 0;
                    
                    .img_box{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-content: space-between;
    
                        a{
                            width: 80px;
                            height: 80px;
                            margin: 4px;
                            overflow: hidden;
    
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                filter: grayscale(1);
                                transition: 0.5s;
                            }
    
                            &:hover{
                                img{
                                    transform: scale(1.2);
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }   
                }
            }
        }

        
        
        .mv_box{
            width: 100%;
            
            .mv{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
    
                article{
                    margin-right: 20px;
                    box-sizing: border-box;
    
                    &:last-child{
                        margin-right: 0;
                    }
    
                    .pic{
                        width: 100%;
                        height: 100%;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        
    }

    aside{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.9);
        padding: 5vw;
        box-sizing: border-box;
    
        .btnClose{
            position: absolute;
            top: 40px;
            right: 40px;
            color: orange;
            cursor: pointer;
        }
    }
    
}
