.portfolio {
	.sub_visual {
		h1 {
			&::after {
				width: 310px;
			}
		}
	}

	.inner_sub {
		width: 1180px;
		margin: 0 auto;
		padding: 150px 20px;

		ul {
			width: 60%;
			margin: 0 auto;
			margin-bottom: 50px;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			li {
				width: 25%;
				float: left;
				text-align: center;

				a {
					font: 12px/1 'Roboto';
					color: #444;
				}

				&.on::after {
					content: '';
					display: block;
					width: 100%;
					height: 8px;
					background: rgba(238, 125, 49, 0.6);
					margin-top: 10px;
				}
			}
		}

		.wrap {
			width: 100%;
			margin-bottom: 50px;

			article {
				box-sizing: border-box;
				width: 380px;
				height: 380px;
				padding: 10px;
				float: left;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: grayscale(1);
				}

				.more {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: 0.5s;
					display: flex;
					flex-flow: column;
					opacity: 0;

					i {
						text-align: center;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						background: #fff;
						color: #ee7d31;
						line-height: 35px;
						margin-bottom: 10px;
						cursor: pointer;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				&:hover {
					transition: 0.5s;

					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 10px;
						width: 180px;
						height: 360px;
						background: rgba(238, 125, 49, 0.5);
					}
					.more {
						opacity: 1;
						z-index: 2;
					}
				}
			}
		}
	}
}
