.pricing{
    .sub_visual{
        h1{
            &::after{
                width: 200px;
            }
        }
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 150px 0;

        table{
            width: 100%;
            margin: 0 auto;
            text-align: center;
            border-spacing: 10px 0;
            margin-bottom: 80px;

            caption{
                text-indent: -9999px;
                opacity: 0;
            }

            th{
                font: 700 20px/1 'Roboto';
                color: #444;
                padding: 15px;

                &:nth-of-type(1){ width: 15%; }
                &:nth-of-type(2){ width: 25%; }
                &:nth-of-type(3){ width: 25%; }
                &:nth-of-type(4){ width: 25%; }
            }

            tbody{
                tr{
                    font: 300 16px/1 'Roboto';
                    color: #777;

                    &:nth-of-type(1){
                        font: bold 30px/1 'Roboto';
                        color: #ee7d31;
                    }

                    td{
                        padding: 25px;
                        border-right: 1px solid rgb(221, 221, 221);

                        &:nth-of-type(1){
                            font: bold 16px/1 '';

                            strong{
                                font: bold 30px/1 'Roboto';
                            }
                        }

                        &:nth-of-type(4){
                            border-right: 0;
                        }

                        strong{
                            font-weight: 500;
                            color: #ee7d31;
                        }
                    }
                }
            }
        }

        a{
            display: block;
            margin: 0 auto;
            width: 250px;
            height: 60px;
            background-color: #ee7d31;
            text-align: center;
            font: 500 14px/60px 'Roboto';
            color: #fff;
            box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
            transition: all 0.5s;
            border: 1px solid transparent;

            &:hover{
                background-color: rgba(238, 125, 49, 0.4);
                border: 1px solid #ee7d31;
                color: #ee7d31;
            }
        }
    }
    
}

footer{
    width: 100%;
    margin-bottom: 30px;

    p{
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }
}

@media screen and (max-width:$tablet){
    #header_sub{
        .inner{
            width: 100%;
            height: 100px;

            h1{
                width: 100%;
                background-color: #ee7d31;
                float: none;

                a{
                    i{
                        font-size: 70px;
                        line-height: 100px;
                        color: #fff;
                    }
                }
            }

            .menuWeb{
                display: none;
            }

            .btnCall{
                display: block;
            }
        }
    }

    .pricing{
        .sub_visual{
            height: 250px;
            padding: 150px 50px 0;
    
            h1{
                font-size: 30px;
    
                &::after{
                    width: 125px;
                    top: 25px;
                }
            }
        }
    
        .inner{
            width: 100%;
            padding: 100px 20px;
            box-sizing: border-box;
    
            h1{
                font-size: 24px;
                margin-bottom: 100px;
            } 
    
            table{
                width: 100%;
                margin: 0 auto;
                text-align: center;
                border-spacing: 10px 0;
                margin-bottom: 80px;
                border: 1px solid;
    
                caption{
                    text-indent: -9999px;
                    opacity: 0;
                }
    
                th{
                    font: 700 20px/1 'Roboto';
                    color: #444;
                    padding: 15px;
    
                    &:nth-of-type(1){ width: 25%; }
                    &:nth-of-type(2){ width: 25%; }
                    &:nth-of-type(3){ width: 25%; }
                    &:nth-of-type(4){ width: 25%; }
                }
    
                tbody{
                    tr{
                        font: 300 16px/1 'Roboto';
                        color: #777;
    
                        &:nth-of-type(1){
                            font: bold 30px/1 'Roboto';
                            color: #ee7d31;
                        }
    
                        td{
                            padding: 25px;
                            border-right: 1px solid rgb(221, 221, 221);
    
                            &:nth-of-type(1){
                                font: bold 16px/1 '';
                                
                                strong{
                                    font: bold 30px/1 'Roboto';
                                }
                            }
    
                            &:nth-of-type(4){
                                border-right: 0;
                            }
    
                            strong{
                                font-weight: 500;
                                color: #ee7d31;
                            }
                        }
                    }
                }
            }
    
            a{
                display: block;
                margin: 0 auto;
                width: 250px;
                height: 60px;
                background-color: #ee7d31;
                text-align: center;
                font: 500 14px/60px 'Roboto';
                color: #fff;
                box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
                transition: all 0.5s;
    
                &:hover{
                    background-color: rgba(238, 125, 49, 0.4);
                    border: 1px solid #ee7d31;
                    color: #ee7d31;
                }
            }
        }
    }
}

@media screen and (max-width:$mobile){
    .pricing{
        .sub_visual{
            height: 250px;
            padding: 0; 
    
            h1{
                font-size: 30px;
                text-align: center;
                line-height: 250px;
    
                &::after{
                    width: 130px;
                    position: absolute;
                    top: 130px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    
        .inner{
            padding: 100px 30px;
        }
    }
}