.service{
    .sub_visual{
        h1{
            &::after{
                width: 360px;
            }
        }
    }

    .inner{
        width: 1180px;
        height: 100vh;
        padding: 150px 0;
        margin: 0 auto;
        position: relative;

        .btn{
            display: block;
            width: 100px;
            height: 30px;
            background-color: #ee7d31;
            text-align: center;
            font: 500 14px/30px 'Roboto';
            color: #fff;
            box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
            transition: all 0.5s;
            border: 1px solid transparent;
            cursor: pointer;
        }

        .wrap{
            width: 100%;
            position: relative;
            left: -150%;
            top: 100px;

            article{
                width: 70%;
                padding: 80px;
                box-sizing: border-box;
                box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
                position: relative;

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                    width: 150px;
                    height: 100%;
                    background-color: rgba(238, 125, 49, 0.5);
                    position: absolute;
                    top: 0;
                    right: -150px;
                }

                h1{
                    font-weight: 900;
                    font-size: 24px;
                    margin-bottom: 15px;
                    color: #666;
                    text-align: left;
                }

                p{
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 15px;
                    color: #aaa;
                    margin-bottom: 50px;
                }

                a{
                    display: block;
                    width: 250px;
                    height: 60px;
                    background-color: #ee7d31;
                    text-align: center;
                    font: 500 14px/60px 'Roboto';
                    color: #fff;
                    box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
                    transition: all 0.5s;
                    border: 1px solid transparent;

                    &:hover{
                        background-color: rgba(238, 125, 49, 0.4);
                        border: 1px solid #ee7d31;
                        color: #ee7d31;
                    }
                }
            }
            .img{
                display: block;
                background: url(../img/pexels-stephen-niemeier-176837.jpg) no-repeat center/cover;
                width: 30%;
                height: 350px;
                position: absolute;
                z-index: -99;
                top: 75px;
                left: -100%;
                filter: grayscale(1);
            }

            &:nth-of-type(3){
                top: 250px;
                
                article{
                    &::after{
                        left: -150px;
                    }
                }

                .img{
                    background: url(../img/pexels-essow-936722.jpg) no-repeat center/cover;
                }
            }
        }

        >a{
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 250px;
            height: 60px;
            background-color: #ee7d31;
            text-align: center;
            font: 500 14px/60px 'Roboto';
            color: #fff;
            box-shadow: -5px 5px 10px rgba(160, 160, 160, 0.3);
            transition: all 0.5s;
            border: 1px solid transparent;

            &:hover{
                background-color: rgba(238, 125, 49, 0.4);
                border: 1px solid #ee7d31;
                color: #ee7d31;
            }
        }
    }
}



@media screen and (max-width:$tablet){
    #header_sub{
        .inner{
            width: 100%;
            height: 100px;

            h1{
                width: 100%;
                background-color: #ee7d31;
                float: none;

                a{
                    i{
                        font-size: 70px;
                        line-height: 100px;
                        color: #fff;
                    }
                }
            }

            .menuWeb{
                display: none;
            }

            .btnCall{
                display: block;
            }
        }
    }

    .service{
        .sub_visual{
            height: 250px;
            padding: 150px 50px 0;

    
            h1{
                font-size: 30px;
    
                &::after{
                    width: 190px;
                    top: 25px;
                }
            }
        }
    
        .inner{
            width: 100%;
            padding: 100px 20px;
            box-sizing: border-box;
    
            h1{
                font-size: 24px;
                margin-bottom: 100px;
            }
    
            .wrap{
                article{
    
                    &::after{
                        width: 100px;
                        height: 100%;
                        right: -100px;
                    }
    
                    h1{
                        font-size: 24px;
                    }
    
                    a{
                        width: 200px;
                    }
                }
                .img{
                    height: 380px;
                    top: 8%;
                }
    
                &:nth-of-type(2){
                    article{
    
                        &::after{
                            left: -100px;
                        }
                    }
    
                    .img{
                        top: 15%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile){
    .service{
        .sub_visual{
            height: 250px;
            padding: 0; 
    
            h1{
                text-align: center;
                line-height: 250px;
    
                &::after{
                    width: 190px;
                    position: absolute;
                    top: 130px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    
        .inner{
            padding: 100px 30px;
    
            .wrap{
                article{
                    width: 100%;
                    padding: 30px;
                    text-align: center;
                    border: 1px solid #f2f2f2;
    
                    &::after{
                        width: 120px;
                        height: 70px;
                        top: -35px;
                        right: -15px;
                    }
    
                    a{
                        width: 200px;
                        margin: 0 auto;
                    }
                }
                .img{
                    display: none;
                }
    
                &:nth-of-type(2){
                    article{
    
                        &::after{
                            left: -20px;
                        }
                    }
                }
            }
        }
    }
}